
.album {
    display: block;
    width: 150px; 
    height: auto;
    margin-right: 10px;
    flex-shrink: 0; 
    scroll-snap-align: start;
}

.portada_album {
    display: block;
    width: 150px; 
    height: auto; 
    margin-bottom: 15px;
}

.list-albums {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth; 
    color: #c7c7c7;
}