.form{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a{
    color: white;
    font-weight: 600;
}

label{
    display: block;
    margin-bottom: 10px;
}

.form_section{
    width: 100%;
    margin-bottom: 15px;
}

.row_form_section{
    display: flex;
    width: 100%;
}

.row_form_section div:first-child{
    margin-right: 10px;
}

input{
    width: 100%;
    padding: 10px 5px;
    background: #121212;
    border-radius: 5px;
    border: 1px solid #727272;
    box-sizing: border-box;
    color: #c5c5c5;
    font-size: 0.9rem;
}

select{
    width: 100%;
    padding: 10px 5px;
    background: #121212;
    border-radius: 5px;
    border: 1px solid #727272;
    box-sizing: border-box;
    color: #c5c5c5;
}

.form_button{
    background-color: #1ed760;
    color: #121212;
    padding: 15px 10px;
    margin: 10px;
    border: none;
    border-radius: 30px;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
}

.noaccount_question_container{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}