.form{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

label{
    display: block;
    margin-bottom: 10px;
}

.form_section{
    width: 100%;
    margin-bottom: 15px;
}

input{
    width: 100%;
    padding: 10px 5px;
    background: #121212;
    border-radius: 5px;
    border: 1px solid #727272;
    box-sizing: border-box;
}

.form_button{
    background-color: #1ed760;
    color: #121212;
    padding: 15px 10px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
}