main {
    align-items: flex-start;
    padding-right: 0;
}

.tittle-list {
    font-size: 24px;
    margin-bottom: 16px;
}

.button_selected {
    background-color: #1ed760;
    color: black;
}

header {
    margin-top: 25px;
}

svg path {
    fill: white;
}


.buttons-bar {
    background: transparent;
    border: none;
    color: white;
    width: 66px;
}

.img-bar {
    width: 40px;
    height: 40px;
}

#bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77%;
}

.songReproducer {
    display: flex;
    position: fixed;
    bottom: 9%;
    margin: 0px 20px;
    margin-bottom: 5px;
    width: 93%;
    height: 8.5%;
    background-color: #15486d;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}