

.podcast_header{
    display: flex;
    width: 100%;
    align-items: center;
}

.podcast_cover{
    width: 130px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

.podcast_info{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.podcast_title{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.podcast_author{
    font-size: 0.9rem;
    font-weight: 500;
}
