header{
    padding: 20px 20px 0 20px;
}

main{
    padding-top: 10px;
}

.back_button{
    width: 40px;
    height: auto;
    margin-bottom: 5px;
}

.principal_header{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    background-image: linear-gradient(to top,rgba(18,18,18,1), rgba(68, 115, 255,0.5) 100%);
}

.podcast_header{
    display: flex;
    width: 100%;
    align-items: center;
}

.podcast_cover{
    width: 130px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

.podcast_info{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.podcast_title{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.podcast_author{
    font-size: 0.9rem;
    font-weight: 500;
}

.podcast_data{
    font-size: 0.9rem;
    color: #c5c5c5;
    width: 100%;
    margin: 20px 0;
}

.podcast_buttons{
    display: flex;
    width: 100%;
    align-items: center;
}

.follow_btn{
    font-weight: 500;
    font-size: 0.9rem;
    text-decoration: none;
    padding: 10px;
    border: 2px solid #c5c5c5;
    border-radius: 20px;
    background-color: transparent;
    margin-right: 20px;
    transition: all 0.4s ease;
}

.button_mini{
    width: 25px;
    height: auto;
    margin-right: 20px;
}

.podcast_sections{
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.section_button>p{
    margin-bottom: 20px;
    color: #a5a5a5;
}

.section_button{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.green_line{
    height: 2px;
    width: 0;
    background-color: #1ed760;
    transition: all 0.5s ease;
}

.episode_list{
    display: flex;
    width: 100%;
    flex-direction: column;
    transition: all 0.5s ease;
}

.episode_item{
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
}

.title_container{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.title_container>p{
    line-height: 1.5;
    display: -webkit-box; /* Establece el comportamiento de la caja */
    -webkit-line-clamp: 2; /* Limita el texto a 2 líneas */
    -webkit-box-orient: vertical; /* Orientación vertical de la caja */
    overflow: hidden; /* Oculta el texto que excede el límite */
}

.title_container>img{
    width: 50px;
    height: auto;
    margin-right: 15px;
    border-radius: 5px;
}

.podcast_description{
    font-size: 0.9rem;
    color: #a5a5a5;
    line-height: 1.5;
    margin-bottom: 10px;
    display: -webkit-box; /* Establece el comportamiento de la caja */
    -webkit-line-clamp: 2; /* Limita el texto a 2 líneas */
    -webkit-box-orient: vertical; /* Orientación vertical de la caja */
    overflow: hidden; /* Oculta el texto que excede el límite */
}

.date_duration{
    font-size: 0.9rem;
    color: #a5a5a5;
    margin-bottom: 20px;
}

.separator{
    width: 100%;
    height: 1.5px;
    background-color: #414141;
    margin-top: 10px;
}

.play_btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.play_btn_container>img{
    margin-left: 3px;
    width: 20px;
    height: 20px;
}

.about_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    transition: all 0.5s ease;
}

.about_btn_container{
    display: flex;
    overflow: scroll;
    margin-bottom: 20px;
}

.about_btn_container::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en navegadores webkit */
}

.about_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    background-color: #313131;
    margin-right: 10px;
}

.separator_point{
    display: flex;
    align-items: center;
    margin-right: 10px; 
}

.about_text{
    font-size: 0.9rem;
    color: #a5a5a5;
    line-height: 1.5;
}

.similar_container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.similar_item{
    display: flex;
    margin-bottom: 15px;
}

.similar_img{
    width: 110px;
    height: 110px;
    border-radius: 10px;
    margin-right: 10px;
}

.similar_text{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.similar_text>p{
    margin-bottom: 10px;
}

.similar_gender{
    font-size: 0.7rem;
    color: #1ed760;
    font-weight: 500;
}

.similar_text{
    font-size: 0.9rem;
    font-weight: 500;
}

.similar_description{
    font-size: 0.9rem;
    color: #a5a5a5;
    line-height: 1.5;
    display: -webkit-box; /* Establece el comportamiento de la caja */
    -webkit-line-clamp: 3; /* Limita el texto a 2 líneas */
    -webkit-box-orient: vertical; /* Orientación vertical de la caja */
    overflow: hidden; /* Oculta el texto que excede el límite */
}