

.podcast_header{
    display: flex;
    width: 100%;
    align-items: center;
}

.podcast_cover{
    width: 130px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

.podcast_info{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.podcast_title{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.podcast_author{
    font-size: 0.9rem;
    font-weight: 500;
}

.podcast_data{
    font-size: 0.9rem;
    color: #c5c5c5;
    width: 100%;
    margin: 20px 0;
}

.podcast_buttons{
    display: flex;
    width: 100%;
    align-items: center;
}

.follow_btn{
    font-weight: 500;
    font-size: 0.9rem;
    text-decoration: none;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: transparent;
    margin-right: 20px;
}

.button_mini{
    width: 25px;
    height: auto;
    margin-right: 20px;
}

.podcast_sections{
    display: flex;
    width: 100%;
    margin: 20px 0;
}

.section_button>p{
    font-weight: 500;
    margin-bottom: 20px;
}

.section_button{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.green_line{
    height: 2px;
    width: 100%;
}

.episode_list{
    display: flex;
    width: 100%;
}

.episode_item{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.title_container{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.title_container>img{
    width: 50px;
    height: auto;
    margin-right: 15px;
    border-radius: 5px;
}

.podcast_description{
    font-size: 0.8rem;
    color: #c5c5c5;
    margin-bottom: 10px;
}

.date_duration{
    font-size: 0.9rem;
    color: #c5c5c5;
    margin-bottom: 20px;
}

.separator{
    width: 100%;
    height: 1.5px;
    background-color: #414141;
    margin-top: 10px;
}
