#register_container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#register_form{
    margin-top: 40px;
    margin-bottom: 20px;
}

.step{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#bars{
    width: 100%;
}

.step_bar{
    background-color: #727272;
    height: 1px;
    width: 100%;
}

#step_bar_green{
    background-color: #1ed760;
    height: 2px;
    width: 0%;
    transition: width 0.5s ease;
}

/*Seccion mas externa del boton de back*/
.back_section{
    width: 100%;
    margin: 20px 0;
}

.back_container{
    width: 50%;
    display: flex;
    font-size: 0.7rem;
}

.back_container_text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.back_container_text p:first-child{
    margin-bottom: 5px;
}

/*Estilos de labels step 2 y 3*/
.label_name{
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.label_description{
    font-size: 0.7rem;
}

/*Estilos de seleccion de artistas*/

#artist_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.artist_item{
    position: relative;
    margin-bottom: 20px;
}

.artist_img{
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
    position: relative;
    transition: width 0.2s ease;
}

.artist_name{
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
}

.artist_checked{
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
}

