body {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    font-family: 'rubik', sans-serif;
    color: white;
}

header{
    display: flex;
    padding: 20px 20px;
    height: 5%;
}

hr{
    width: 100%;
    background-color: #727272;
    border: none;
    margin: 20px 0;
    height: 1px;
}

main{
    padding: 20px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    display: flex;
    justify-content: center;
    
}



#logo{
    max-width: 104px;
    height: auto;
}

.icon{
    max-width: 32px;
    height: auto;
}

.bold{
    font-weight: 500;
}

a{
    color: white;
    font-weight: 600;
}

.img_container{
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.img_container img {
    display: block;
    width: 45px; 
    height: auto; 
    border-radius: 60%; 
}

.button_header {
    margin-right: 10px;
    background-color: #353333;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 15px;
    border-radius: 20px;
    
}


