body {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    font-family: 'rubik', sans-serif;
    color: white;
}

header{
    display: flex;
    background-color: #121212;
    padding: 20px 20px;
    height: 5%;
}


hr{
    width: 100%;
    background-color: #727272;
    border: none;
    margin: 20px 0;
    height: 1px;
}

main{
    padding: 20px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    display: flex;
    justify-content: center;
    
}

.footerMenu {
    display: flex;
    height: 15.6%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 101%;
    background: linear-gradient(0deg, rgba(18, 18, 18, 0.96) 70%, 
                            rgba(18, 18, 18, 1) 0%, 
                            rgba(18, 18, 18, 0.008) 100%);
    /* opacity: 0.95; */
    color: white;
    text-align: center;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    align-items: flex-end;
    justify-content: center;
    padding-top: 16%;
}

#logo{
    max-width: 104px;
    height: auto;
}

.icon{
    max-width: 32px;
    height: auto;
}

.bold{
    font-weight: 500;
}

a{
    color: white;
    font-weight: 600;
}

.img_container{
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.img_container img {
    display: block;
    width: 45px; 
    height: auto; 
    border-radius: 60%; 
}

.button_header {
    margin-right: 10px;
    background-color: #353333;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 15px;
    border-radius: 20px;
    
}


